<!DOCTYPE html>
<html>
<body>

<h1><center>Shreya Singh</center></h1>
<h2><bold>Basic Details</bold></h2>
<p>Hi!I am Shreya Singh.I study in NIT Patna.I am currently in my 3rd year doing B.Tech in Computer Science and Engineering.</p>
<h2><bold>Hobbies and Interests</bold></h2>
<p>My hobby is reading novels.I have read over 50 novels till date.I am huge fan of Harry potter Series,Marvel and DC comics.</p>
<h2><bold>Ambitions</bold></h2>
<p>I wish to make it to Fortune's list of most powerful women in the world through my contributions in the field of Technology.</p>
</body>
</html>